<mat-toolbar color="primary" class="material">
    <span id="name1" class="name">
        e-
    </span>
    <span class="name">
      CARE
    </span>
    <span>    </span>
    <div id="buttons">
        <button mat-button routerLink="/" class="bt">Home
            <mat-icon>dashboard</mat-icon> </button>
        <button mat-button routerLink="/login" class="bt">Acceder
            <mat-icon>login</mat-icon>
        </button>
    </div>
</mat-toolbar>

<!--        <button mat-button routerLink="/create">Create
            <mat-icon>flip_to_back</mat-icon>
        </button>
    -->