#tabla{
     
    background-color: #f4f4f4;

    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.bar{
 background-color: #21b78d;
}
#buttons{
    margin: auto;
    color: #ffff;
}
.bt{
    font-size: large;
    background-color: #116950;
    margin: 5%;
}