<mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" title="{{element.id}}">{{ element.id}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="ccc">
      <mat-header-cell *matHeaderCellDef> CCC </mat-header-cell>
      <mat-cell *matCellDef="let element" title="{{element.ccc}}">{{ element.ccc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
      <mat-cell *matCellDef="let element" title="{{element.balance}}"> {{element.balance}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef > View </mat-header-cell>
      <mat-cell *matCellDef="let element">            
        <a mat-icon-button title="View/edit cuenta" routerLink="/cuenta/{{element.id}}">
          <mat-icon color="primary">visibility</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">            
        <button mat-icon-button title="Delete cuenta" (click)="confirmDeletion(element.id)">
          <mat-icon color="primary">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
