<mat-card class="material">
    <mat-card-header>
        <mat-card-title>E-CARE</mat-card-title>
        <mat-card-subtitle>Juan Carlos Vergara Ruz</mat-card-subtitle>
        <mat-card-subtitle>Yussef Barakat Nieto</mat-card-subtitle>
        <mat-card-subtitle>Raúl Ángel Castro Valderas</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
        <p>e-Care ofrece un sistema que permite a los pacientes rastrear y 
            gestionar su enfermedad crónica, programación de medicamentos y 
            seguimiento médico. Se enfoca en recordatorios de medicamentos y eventos médicos, 
            así como con herramientas para el seguimiento médico por parte de los profesionales.</p>
        <p>Ingeniería Web</p>
        <br>
        <img id="logo" src="../../assets/umalogo.png" alt="Placeholder Image">
    </mat-card-content>
</mat-card>
